
        a {background-color: greenyellow;}
        h1 {font-size: 40px;
            font-style: italic;
            }
        .headline {color: hotpink;
            font-size: 66px;
            background-color: lime;}
        
